<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile" src="{{actor.img}}" data-edit="img">
        <div class="header-details">
            <div class="details-row name">
                <input type="text" name="name" value="{{actor.name}}" placeholder="{{localize 'Name'}}">
            </div>
            <div class="details-row">
                <div class="detail-group">
                    <div class="input-group">
                        <input type="number" name="system.levelLimit" value="{{system.levelLimit}}">
                    </div>
                    <label>{{localize "impmal-rtim-base-building.base.levelLimit"}}</label>
                </div>
                <div class="detail-group">
                    <div class="input-group">
                        <input type="number" name="system.totalLevels" value="{{system.totalLevels}}" disabled>
                    </div>
                    <label>{{localize "impmal-rtim-base-building.base.totalLevels"}}</label>
                </div>
                <div class="detail-group">
                    <div class="input-group">
                        <input type="number" name="system.totalLevelsLimit" value="{{system.totalLevelsLimit}}">
                    </div>
                    <label>{{localize "impmal-rtim-base-building.base.totalLevelsLimit"}}</label>
                </div>
            </div>
            <div class="details-row">
                <div class="detail-group">
                    <div class="input-group">
                        <input type="number" name="system.availableUpgradePoints"
                            value="{{system.availableUpgradePoints}}">
                    </div>
                    <label>{{localize "impmal-rtim-base-building.base.availableUpgradePoints"}}</label>
                </div>
                <div class="detail-group">
                    <div class="input-group">
                        <input type="number" name="system.spentUpgradePoints" value="{{system.spentUpgradePoints}}">
                    </div>
                    <label>{{localize "impmal-rtim-base-building.base.spentUpgradePoints"}}</label>
                </div>
            </div>
        </div>
    </header>

    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            <a class="tab-select item active"
                data-tab="modules">{{localize "impmal-rtim-base-building.module.name"}}</a>
            <a class="tab-select item" data-tab="equipment">{{localize "IMPMAL.Details"}}</a>
        </nav>
        <div class="tab-content">
            <div class="tab" data-tab="modules">
                <div class="equipment">
                    <section class="list">
                        <header class="list-row">
                            <div class="list-name">{{localize "impmal-rtim-base-building.module.name"}}</div>
                            <div class="small">{{localize "impmal-rtim-base-building.module.level"}}</div>
                            <div class="list-controls">
                            </div>
                        </header>
                        <div class="list-content">
                            {{#each modules}}
                                <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                                    <div class="list-row">
                                        <div class="list-name">
                                            <img src="{{this.img}}">
                                            <a class="list-edit list-summary-context">{{this.name}}</a>
                                        </div>
                                        <div class="small">
                                            <input type="number" name="system.level" value="{{this.system.level}}"
                                                disabled>
                                        </div>
                                        <div class="list-controls">
                                            <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="summary">

                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </section>
                </div>
            </div>
            <div class="tab" data-tab="equipment">
                <div class="equipment">
                    <section class="list">
                        <header class="list-row">
                            <div class="list-name">{{localize "IMPMAL.Weapon"}}</div>
                            <div class="small">{{localize "IMPMAL.Qty."}}</div>
                            <div class="small">{{localize "IMPMAL.Enc."}}</div>
                            <div class="list-controls">
                                <a class="list-create" data-type="weapon"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </header>
                        <div class="list-content">
                            {{#each items.weapon}}
                                <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                                    <div class="list-row">
                                        <div class="list-name">
                                            <img src="{{this.img}}">
                                            <a class="list-edit list-summary-context">{{this.name}}</a>
                                        </div>
                                        <a class="small inc-dec">{{this.system.quantity}}</a>
                                        <div class="small">{{this.system.encumbrance.total}}</div>
                                        <div class="list-controls">
                                            <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="summary">

                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </section>

                    <section class="list">
                        <header class="list-row">
                            <div class="list-name">{{localize "IMPMAL.Ammo"}}</div>
                            <div class="small">{{localize "IMPMAL.Qty."}}</div>
                            <div class="small">{{localize "IMPMAL.Enc."}}</div>
                            <div class="list-controls">
                                <a class="list-create" data-type="ammo"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </header>
                        <div class="list-content">
                            {{#each items.ammo}}
                                <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                                    <div class="list-row">
                                        <div class="list-name">
                                            <img src="{{this.img}}">
                                            <a class="list-edit list-summary-context">{{this.name}}</a>
                                        </div>
                                        <a class="small inc-dec">{{this.system.quantity}}</a>
                                        <div class="small">{{this.system.encumbrance.total}}</div>
                                        <div class="list-controls">
                                            <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="summary">

                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </section>

                    <section class="list">
                        <header class="list-row">
                            <div class="list-name">{{localize "IMPMAL.Modification"}}</div>
                            <div class="small">{{localize "IMPMAL.Qty."}}</div>
                            <div class="small">{{localize "IMPMAL.Enc."}}</div>
                            <div class="list-controls">
                                <a class="list-create" data-type="modification"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </header>
                        <div class="list-content">
                            {{#each items.modification}}
                                <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                                    <div class="list-row">
                                        <div class="list-name">
                                            <img src="{{this.img}}">
                                            <a class="list-edit list-summary-context">{{this.name}}</a>
                                        </div>
                                        <a class="small inc-dec">{{this.system.quantity}}</a>
                                        <div class="small">{{this.system.encumbrance.total}}</div>
                                        <div class="list-controls">
                                            <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="summary">

                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </section>

                    <section class="list">
                        <header class="list-row">
                            <div class="list-name">{{localize "IMPMAL.Protection"}}</div>
                            <div class="small">{{localize "IMPMAL.Qty."}}</div>
                            <div class="small">{{localize "IMPMAL.Enc."}}</div>
                            <div class="list-controls">
                                <a class="list-create" data-type="protection"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </header>
                        <div class="list-content">
                            {{#each items.protection}}
                                <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                                    <div class="list-row">
                                        <div class="list-name">
                                            <img src="{{this.img}}">
                                            <a class="list-edit list-summary-context">{{this.name}}</a>
                                        </div>
                                        <a class="small inc-dec">{{this.system.quantity}}</a>
                                        <div class="small">{{this.system.encumbrance.total}}</div>
                                        <div class="list-controls">
                                            <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="summary">

                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </section>

                    <section class="list">
                        <header class="list-row">
                            <div class="list-name">{{localize "IMPMAL.Forcefield"}}</div>
                            <div class="small">{{localize "IMPMAL.Qty."}}</div>
                            <div class="small">{{localize "IMPMAL.Enc."}}</div>
                            <div class="list-controls">
                                <a class="list-create" data-type="forceField"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </header>
                        <div class="list-content">
                            {{#each items.forceField}}
                                <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                                    <div class="list-row">
                                        <div class="list-name"
                                            {{#if this.system.overload.collapsed}}style="color: darkred" {{/if}}>
                                            <img src="{{this.img}}">
                                            <a class="list-edit list-summary-context">{{this.name}}</a>
                                        </div>
                                        <a class="small inc-dec">{{this.system.quantity}}</a>
                                        <div class="small">{{this.system.encumbrance.total}}</div>
                                        <div class="list-controls">
                                            <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="summary">

                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </section>

                    <section class="list">
                        <header class="list-row">
                            <div class="list-name">{{localize "IMPMAL.Equipment"}}</div>
                            <div class="small">{{localize "IMPMAL.Qty."}}</div>
                            <div class="small">{{localize "IMPMAL.Enc."}}</div>
                            <div class="list-controls">
                                <a class="list-create" data-type="equipment"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </header>
                        <div class="list-content">
                            {{#each items.equipment}}
                                <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                                    <div class="list-row">
                                        <div class="list-name">
                                            <img src="{{this.img}}">
                                            <a class="list-edit list-summary-context">{{this.name}}</a>
                                        </div>
                                        <a class="small inc-dec">{{this.system.quantity}}</a>
                                        <div class="small">{{this.system.encumbrance.total}}</div>
                                        <div class="list-controls">
                                            <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="summary">

                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </section>

                    <section class="list">
                        <header class="list-row">
                            <div class="list-name">{{localize "IMPMAL.Augmetic"}}</div>
                            <div class="small">{{localize "IMPMAL.Qty."}}</div>
                            <div class="small">{{localize "IMPMAL.Enc."}}</div>
                            <div class="list-controls">
                                <a class="list-create" data-type="augmetic"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </header>
                        <div class="list-content">
                            {{#each items.augmetic}}
                                <div class="list-item" data-id="{{this.id}}" data-item-id="{{this.id}}">
                                    <div class="list-row">
                                        <div class="list-name">
                                            <img src="{{this.img}}">
                                            <a class="list-edit list-summary-context">{{this.name}}</a>
                                        </div>
                                        <a class="small inc-dec">{{this.system.quantity}}</a>
                                        <div class="small">{{this.system.encumbrance.total}}</div>
                                        <div class="list-controls">
                                            <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="summary">

                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</form>