<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile" src="{{item.img}}" data-edit="img">
        <div class="header-details">
            <div class="details-row name">
                <input type="text" name="name" value="{{item.name}}" placeholder="{{localize 'Name'}}">
            </div>
            <div class="details-row">
                <div class="detail-group">
                    <div class="input-group">
                        <input type="number" name="system.level" value="{{system.level}}">
                    </div>
                    <label>{{localize "impmal-rtim-base-building.module.level"}}</label>
                </div>
            </div>
        </div>
    </header>
    <section class="tab-section">
        <nav class="sheet-tabs tabs">
            <a class="tab-select item active" data-tab="notes">{{localize "IMPMAL.Description"}}</a>
            <a class="tab-select item" data-tab="details">{{localize "IMPMAL.Details"}}</a>
        </nav>
        <div class="tab-content">
            <div class="tab notes-tab" data-tab="notes">
                {{> systems/impmal/templates/item/partials/item-notes.hbs}}
            </div>
            <div class="tab details" data-tab="details">
                <div class="item-notes">
                    <div class="note-section">
                        <div class="notes-header">
                            {{localize "impmal-rtim-base-building.module.levelZeroEffect"}}
                        </div>
                        <div class="notes-content">
                            {{editor enriched.levelZeroEffect target="system.levelZeroEffect" engine="prosemirror" button="true" button=true owner=owner editable=editable}}
                        </div>
                    </div>
                    <div class="note-section">
                        <div class="notes-header">
                            {{localize "impmal-rtim-base-building.module.levelOneEffect"}}
                        </div>
                        <div class="notes-content">
                            {{editor enriched.levelOneEffect target="system.levelOneEffect" engine="prosemirror" button="true" button=true owner=owner editable=editable}}
                        </div>
                    </div>
                    <div class="note-section">
                        <div class="notes-header">
                            {{localize "impmal-rtim-base-building.module.levelTwoEffect"}}
                        </div>
                        <div class="notes-content">
                            {{editor enriched.levelTwoEffect target="system.levelTwoEffect" engine="prosemirror" button="true" button=true owner=owner editable=editable}}
                        </div>
                    </div>
                    <div class="note-section">
                        <div class="notes-header">
                            {{localize "impmal-rtim-base-building.module.levelThreeEffect"}}
                        </div>
                        <div class="notes-content">
                            {{editor enriched.levelThreeEffect target="system.levelThreeEffect" engine="prosemirror" button="true" button=true owner=owner editable=editable}}
                        </div>
                    </div>
                    <div class="note-section">
                        <div class="notes-header">
                            {{localize "impmal-rtim-base-building.module.levelFourEffect"}}
                        </div>
                        <div class="notes-content">
                            {{editor enriched.levelFourEffect target="system.levelFourEffect" engine="prosemirror" button="true" button=true owner=owner editable=editable}}
                        </div>
                    </div>
                    <div class="note-section">
                        <div class="notes-header">
                            {{localize "impmal-rtim-base-building.module.levelFiveEffect"}}
                        </div>
                        <div class="notes-content">
                            {{editor enriched.levelFiveEffect target="system.levelFiveEffect" engine="prosemirror" button="true" button=true owner=owner editable=editable}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>